@font-face {    
	font-family: 'Orchidee';    
	src: url('../font/ORCHL___.TTF') format('truetype');
}
@font-face {    
	font-family: 'OrchideeMedium';    
	src: url('../font/ORCHM___.TTF') format('truetype');
}
@font-face {    
	font-family: 'Bleak Chop';    
	src: url('../font/Bleak Chop.ttf') format('truetype');
}